pandas
numpy
ta
scikit-learn
lightgbm
joblib
scipy
ccxt
ccxtpro
gspread
oauth2client
python-dotenv
PyYAML
python-telegram-bot
Flask
pytest
websocket-client
requests
solana>=0.33,<0.36
boto3
statsmodels
hvac
psutil
aiohttp>=3.9.4
cryptography
schedule
fastapi==0.97.0
starlette==0.27.*       # required by fastapi
httpx<0.28
uvicorn
rich
scikit-optimize
pydantic<2
numba
cachetools
prometheus-client
solders
pythclient
redis
base58
statsmodels
