pandas
numpy
ta
scikit-learn
lightgbm
joblib
scipy
ccxt
cryptofeed
gspread
oauth2client
python-dotenv
PyYAML
python-telegram-bot
Flask
pytest
websocket-client
requests
solana>=0.28,<0.29
boto3
statsmodels
hvac
psutil
aiohttp>=3.8,<4
cryptography
schedule
fastapi==0.97.0
starlette==0.27.*       # required by fastapi
httpx<0.28
uvicorn
rich
scikit-optimize
pydantic<2
numba
cachetools
tenacity
prometheus-client
solders
pythclient
redis
base58
pytest-asyncio
supabase
gymnasium
torch
stable-baselines3
lunarcrush

keyring
